#export-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#entity-checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  margin: 0 auto;
}

#add-filter-btn-container,
#export-btn-container {
  margin-top: 1rem;
}

#add-filter-btn {
  width: 50px;
  padding: 0.5rem;
  color: black;
  cursor: pointer;
  text-align: center;
  background-color: white;
  border-radius: 8px;
}

#remove-filter-btn {
  width: 30px;
  height: 100%;
  color: black;
  cursor: pointer;
  text-align: center;
  background-color: white;
  border-radius: 8px;
}

#export-btn {
  width: 120px;
  padding: 0.5rem;
  color: black;
  cursor: pointer;
  text-align: center;
  background-color: white;
  border: none;
  border-radius: 8px;
}

#add-filter-btn:hover,
#export-btn:hover {
  background-color: #3b3b3b;
  color: white;
}
