#applied-filters-dialog {
    position: fixed;
    background-color: #c4c4c4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#applied-filters-dialog button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    text-align: center;
}

#applied-filters-dialog button:hover {
    background-color: #3b3b3b;
    color: white;
}

#applied-filter-dialog-li {
    list-style: none;
    margin-left: 0;
    padding: 10px;
    border-bottom: 1px solid #3b3b3b;
    text-align: left;
}