#dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
} 

#dashboard-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: 15px;
}
#dashboard-table td {
    border: 2px solid #3b3b3b;
    text-align: center;
}

#dashboard-table button {
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
}

#dashboard-header {
    background-color: #3b3b3b;
    font-weight: bold;
    text-align: center;
    color: white
}

#dashboard-header th {
    padding: 10px;
    border-bottom: 2px solid #3b3b3b;
}

#dashboard-body {
    background-color: #ffffff;

}



