#user-info-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.user-info-item span {
    font-weight: bold;
}

#img-container {
    display: grid;
    grid-template-rows: 1fr;
    justify-self: center;
    justify-items: center;
    row-gap: 10px;
}

#edit-img-input {
    width: 175px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#img-container button:hover {
    background-color: darkgray;
    color: rgb(0, 0, 0);
}