#layout {
  display: flex;
  background-color: #c4c4c4;
  height: auto;
  width: 100%;
}

#menuBar {
  width: 250px;
  background-color: #3b3b3b;
  color: white;
  box-sizing: border-box;
}

#menuBar ul {
  list-style: none;
  cursor: pointer;
}

#menuBar li {
  padding-top: 30px;
  padding-left: 20px;
  margin: auto;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}

.menuListItemActive {
  background-color: #c4c4c4;
  color: black;
  font-weight: bold;
}

button {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  color: white;
  text-align: left;
  cursor: pointer;
}

button:hover {
  background-color: #c4c4c4;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

#content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}
